.nav {
    --padding: 13px;
    padding-left: var(--padding);
    padding-right: var(--padding);

}

@media (min-width: 600px) {
    .nav {
        height: var(--height-navbar);
    }
}

.nav a {
    color: inherit !important;
}
