.nav {
    --padding: 13px;
    padding-left: var(--padding);
    padding-right: var(--padding);

}

@media (min-width: 600px) {
    .nav {
        height: var(--height-navbar);
    }
}

.item > a {
    color: var(--color-text-primary) ;
}

.brand{
    color: var(--color-text-primary) !important; ;
}

.menu{
    margin-left: auto;
    margin-right: auto;
}