.toggle_button {
    --toggle-width: 80px;
    --toggle-height: 38px;
    --toggle-padding: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    line-height: 1;
    border: 0;
    border-radius: calc(var(--toggle-width) / 2);
    cursor: pointer;
    /*
    width: var(--toggle-width);
    height: var(--toggle-height);
    padding: var(--toggle-padding);
    background: red;
    */
    background: var(--color-bg-toggle);
    transition: transform 0.5s;
    /*
    transform: scale(0.6);
    -webkit-transition: transform 1.0s;
    */
    

}

.toggle_button:active {
    transform: scale(1.05);
    transition: transform 0.3s;
}

