.footer_container {
    padding: 0 2rem;
    padding-left: 14px;
    padding-right: 14px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eaeaea;
    border-top: 1px solid var(--color-text-primary);
    border-top: 0.01em solid rgba(120, 120, 120, 0.7);
    justify-content: center;
    align-items: center;
    height: auto;
    height: var(--height-footer);
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.col_views {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}